body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0 ;
    padding: 0 ;
	font-family: "Lato", sans-serif;
}
html {
	background-color: #000000;
	scroll-behavior: smooth;
	--background-color: #111111;
    --foreground-color: #4c5448;
    --title-color: #3bbd1e;
    --medium-title-color: #4abd32;
    --small-title-color: #4abd32;
    --text-color: #dddddd;
    --link-color: #00cb00;
    --object-background-color: #585858;
    --object-color: #3f991b;
    --object-foreground-color: #A3AF9E;
    --button-color: #111111;
    --button-hover-color: #6a7267;
}
a {
	color: var(--link-color);
}
body {
	margin: 0 ;
    padding: 0 ;
}
p {
	text-align: justify;
}
.animated-left {
	opacity: 0%;
	transition: 0.5s;
	transform: translateX(-10px);
	-webkit-transform: translateX(-10px);
	-moz-transform: translateX(-10px);
}
.animated-left.active {
	opacity: 100%;
	transform: translateX(0);
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
}
.animated-right {
	opacity: 0%;
	transition: 0.5s;
	transform: translateX(10px); 
	-webkit-transform: translateX(10px);
	-moz-transform: translateX(10px);
}
.animated-right.active {
	opacity: 100%;
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
}
.top {
	width: 100%;
	z-index:1;
	top: 0;
	left: 0;
	background-color: var(--background-color);
	padding: 5px 5px 5px 5px;
	position: fixed;
	box-shadow: 0 0 10px;
	color: #000000
}
.button {
	background-color: var(--button-color);
	border: none;
	color: var(--text-color);
	border-radius: 4px;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition-duration: 0.4s;
}
.button i {
	margin-right: 5px;
}
.button:hover {
	background-color: var(--button-hover-color);
}
.button-details {
	background-color: var(--object-color);
	border: none;
	color: var(--text-color);
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
	margin-left: 10px;
	font-size: 16px;
	height: 25px;
	transition-duration: 0.4s;
}
.button-details:hover {
	background-color: var(--object-foreground-color);
}
@media (max-width: 800px) {
  .button {
	padding: 5px;
	font-size: 12px;
  }
}
.language {
	color: var(--text-color);
	padding: 10px 32px;
	float: right;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition-duration: 0.4s;
}
@media (max-width: 800px) {
  .language {
	padding: 5px;
	width: 5%;
	font-size: 5px;
  }
}
.topPicture { 
	width: 100%;
    background-attachment: fixed;
	height: 500px;
	background-image: url('../images/voielactée.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
@media (max-width: 800px) {
	.topPicture {
		height: 250px;
	}
}
.topPicture div {
	position: relative;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
	width: 50%;
	background-color: rgba(1,1,1,0.5);
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	text-align: center;
	color: var(--title-color);
}
@media (max-width: 800px) {
  .topPicture div {
	width: 100%;
  }
}
.about {
	background-color: var(--background-color);
	padding: 5% 10%;
	color: var(--text-color);
}
@media (max-width: 800px) {
  .about {
	padding: 1%;
  }
}
.about .bio {
	height: auto;
	display: flex;
	flex-direction: row;
}
@media (max-width: 800px) {
  .about {
	flex-direction: column;
  }
}
.about .bio div {
	flex: initial;
}
@media (max-width: 800px) {
  .about .bio {
    flex-direction: column;
  }
}
.about h2 {
	text-align: center;
	font-size: 25px;
	padding: 10px;
	margin: 10px;
	color: var(--title-color);
}
.about img {
	width: 200px;
	max-width:20%;
	height: auto;
	align-self: center;
	margin-right: 20px;
	margin-left: 20px;
	float: left;
}
@media (max-width: 800px) {
  .about img {
    max-width: 50%;
  }
}
.about h3 {
	text-align: center;
	padding: 10px;
	color: var(--medium-title-color);
}
.about h4 {
	color: var(--small-title-color);
}
.separator{
	margin-top: 25px;
	display: flex;
	flex-direction: row;
}
@media (max-width: 800px) {
  .separator {
    flex-direction: column;
  }
}
.news {
	flex-grow: 1;
    flex-basis: 0;
	float: left;
	margin: 10px;
}
@media (max-width: 800px) {
	.news {
		margin: 0px;
	}
}
.cv {
	flex-grow: 1;
    flex-basis: 0;
	float: right;
	width: auto;
}
.experience {
	text-align: start;
	border-style: solid;
	border-radius: 4px;
	border-width: 2px;
	padding: 5px;
	margin: 10px;
}
.experience .titre {
	display: flex;
}
.experience .titre h4,.experience .titre p{
	text-align: start;
	margin: 5px;
}
.experience .description {
	display: flex;
}
.experience .description .periode{
	text-align: start;
	margin: 5px;
	width: 25%;
}
.experience .description p{
	text-align: start;
	margin: 5px;
}
.vline {
	width: 2px;
	background-image: linear-gradient(transparent, var(--object-color),var(--object-color),var(--object-color), transparent);
}
@media (max-width: 800px) {
  .vline {
    width: 0px;
  }
}
.hline {
	width: 100%;
	height: 2px;
	margin-top: 10px;
	background-color: var(--object-color);
}
.progress-bar-exp {
	width: 100%;
	height: 20px;
	background-color: var(--object-background-color);
	text-align: center;
}
.progress-bar-exp-frontend.animated {
	width: 0%;
	transition: 0.5s;
	height: 20px;
	background-color: var(--object-color);
}
.progress-bar-exp-frontend.animated.active {
	width: 53%;
}
.progress-bar-exp-backend.animated {
	width: 0%;
	transition: 0.5s;
	height: 20px;
	background-color: var(--object-color);
}
.progress-bar-exp-backend.animated.active {
	width: 50%;
}
.progress-bar-exp-english.animated {
	width: 0%;
	transition: 0.5s;
	height: 20px;
	background-color: var(--object-color);
}
.progress-bar-exp-english.animated.active {
	width: 85%;
}
.progress-bar-ext {
	width: 100%;
	height: 20px;
	margin-bottom: 5px;
	background-color: var(--object-background-color);
	text-align: center;
}
.progress-bar-ext-value {
	transition: 0.25s;
	height: 20px;
	background-color: var(--object-color);
}
.githubPicture {
	width: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
	height: 200px;
	margin: 0 ;
    padding: 0 ;
	background-image: url('../images/mandelbrot_fond.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.githubPicture h2{
	text-align: center;
	padding: 90px;
	color: var(--text-color);
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.github {
	background-color: var(--background-color);
	padding: 50px 50px;
	color: var(--text-color);
}
@media (max-width: 800px) {
	.github {
		padding: 10px 10px;
	}
}
.github h3{
	color: var(--medium-title-color);
}
.github img{
	cursor: zoom-in;
}
.github img:active{
	transform: scale(3)translate(-50%, 0%);
	-webkit-transform: scale(3)translate(-50%, 0%);
	-moz-transform: scale(3)translate(-50%, 0%);
	z-index : 1;
	cursor: zoom-out;
}
@media (max-width: 800px) {
  .github img:active{
	transform: initial;
	-webkit-transform: initial;
	-moz-transform: initial;
	z-index : 1;
	cursor: zoom-out;
  }
}
.github-post {
	display: flex;
	flex-direction: row;
}
@media (max-width: 800px) {
  .github-post {
    flex-direction: column;
  }
}
.github-post div {
	flex-grow: 3;
    flex-basis: 0;
	margin: 10px;
}
.github-post img {
	flex-grow: 1;
    flex-basis: 0;
	width: 20%;
	height: auto;
	align-self: center;
	margin: 10px;
}
.github-post iframe {
	flex-grow: 1;
    flex-basis: 0;
	width: 20%;
	aspect-ratio: 16 / 9;
	height: auto;
	align-self: center;
	margin: 10px;
}
@media (max-width: 800px) {
  .github-post img {
    width: 100%;
  }
}
.contact-title{
	background-color: var(--foreground-color);
	color: var(--text-color);
	text-align: center;
}
.contact {
	background-color: var(--foreground-color);
	padding: 20px 50px 50px 50px;
	color: var(--text-color);
	text-align: center;
}
@media (max-width: 800px) {
  .contact {
    padding: 20px;
  }
}
.contact div .part{
	display: flex;
	margin: 10px;
	align-items: center;
	justify-content: center;
}
.contact div {
	flex-grow: 1;
    flex-basis: 0;
	/* display: initial; */
}
.contact form {
	flex-grow: 1;
    flex-basis: 0;
	flex: column;
}
.contact .part i{
	margin-right: 1%;
	margin-bottom: 1.1%;
}
.contact input[type=text], .contact select, .contact textarea{
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
  margin-top: 10px;
}
.info {
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
}
@media (max-width: 800px) {
  .contact input[type=text], .contact select, .contact textarea {
    width:90%;
  }
}
.contact input[type=submit] {
  background-color: var(--object-color);
  color: white;
  padding: 12px 20px;
  border: none;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.contact input[type=submit]:hover {
  background-color: var(--object-foreground-color);
}
